::selection
{
  color:black;
  background:lime;
}

@font-face
{
  font-family: "main";
  src: url(../Games/Test/Assets/Fonts/SourceCodePro-Regular.woff) format("woff"),
  url(../Games/Test/Assets/Fonts/SourceCodePro-Regular.ttf) format("truetype");
}

html
{
  scroll-behavior:smooth;
}

body
{
  background-color:black;
  font-family:main;
  color:lime;
}

button
{
  cursor:pointer;
}

#main
{
  align-content:center;
  width:60%;
  margin:auto;
}

#main h1, #main button, #main img
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#main h1
{
  color:lime;
  text-align:center;
  font-family:main;
  font-size:40;
}

#logo
{
  width:200px;
  height:200px;
  display:block;
  margin:15px auto;
}

#heading
{
  background-color:#000900;
  border-bottom:10px solid #000900;
  margin:auto;
  width:100%;
}

.line
{
  height:2px;
  border-width:0px;
  background-color:lime;
  width:100%;
  margin:30px auto;
}

#small
{
  width:75%;
  background-color:#009900;
}

#menuDesc
{
  margin:auto;
  width:240px;
}

#main button
{
  font-family:main;
  width:100px;
  height:30px;
  border:2px solid lime;
  border-radius:5px;
  color:lime;
  background-color:black;
  margin:10px 10px;
  transition:color 0.25s ease, background-color 0.25s ease;
}

#main button:hover
{
  color:black;
  background-color:lime;
}

#main button:active
{
  border:2px solid white;
}

#description
{
  width:100%-10px;
  margin:100px 10px 0px;
}

h2, h3
{
  text-align:center;
}

.center
{
  text-align:center;
  align-content:center;
  margin:auto;
}

.circle
{
  border-radius:50%;
}

#description div div div
{
  display:inline-block;
  margin:10px;
}

a
{
  color:lime;
}

a:link
{
  text-decoration:none;
}

a:hover
{
  color:cyan;
}

#description img
{
  width:128px;
  height:128px;
}

#bio
{
  margin-bottom:100px;
}

#socials
{
  width:170px;
  margin:auto;
}

#socials img
{
  width:50px;
  height:50px;
  border-radius:50%;
}
